@model IEnumerable<TestQuestion>
@{
    ViewData["Title"] = "TakeTest";
}

<table>
    <tbody>
        @foreach (var TestQuestion in Model)
        {
            <tr class="form-group">

                <partial name="Queston" for="@LongQuestion" />

                <partial name="Queston" for="@ShortQuestion" />

                <partial name="Queston" for="@MultipleChoiceQuestion" />

                <partial name="Queston" for="@TrueFalseQuestion" />
            </tr>
        }        
    </tbody>
</table>
<div class="form-group">
    <input value="Submit" type="submit" class="btn btn-primary">
</div>