html, body {
    background-color: #AA3E39;
}
#SiteName{
    background-color:#FFAEAA;
    font-size: 44px;
    color: #550400;
}
#Content1 {
    background-color: #FFAEAA;
    font-size: 20px;
    color: #550400;
}
Content2 {
    background-color: #FFAEAA;
    font-size: 16px;
    color: #550400;
}
Content3 {
    background-color: #FFAEAA;
    font-size: 12px;
    color: #550400;
}
