
@{ 
    ViewData["Title"] = "Contact";
}

<form>
    <div class="ContactInfo">
        <label for="Name" class="control-label">Name</label>
        <input type="text" id="Name" class="form-control" />
    </div>
    <div class="ContactInfo">
        <label for="PhoneNumber" class="control-label">Phone Number</label>
        <input type="text" id="PhoneNumber" class="form-control" />
    </div>
    <div class="ContactInfo">
        <label for="Email" class="control-label">Email</label>
        <input type="email" id="Email" class="form-control" />
    </div>
    <div class="ContactInfo">
        <label for="Message" class="control-label">Message</label>
        <textarea></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>