@model CostumeM
@{
    ViewData["Title"] = "Index";
}

<h2>Costume</h2>

<form asp-action="Insert" asp-controller="Costume" method="post">
    @Html.AntiForgeryToken()

    <label for="CostumeIn">New Costume</label>
    <input type="text" name="CostumeIn" id="CostumeIn" />
    <button type="submit" class="btn">Submit</button>
</form>

<ul class="list-group">
    @foreach (var costume in Model.CostList)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    @costume.name
                </div>
                <div class="col-6">
                    <form asp-action="Delete" asp-controller="Costume" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@costume.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>