@model ComputerModel
@{
    ViewData["Title"] = "Index";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="AdministratorPassword"></label>
        <input type="text" asp-for="AdministratorPassword" />
    </div>
    <div class="form-group">
        <label asp-for="IPAddress"></label>
        <input type="text" asp-for="IPAddress" />
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input type="text" asp-for="Location" />
    </div>
    <div class="form-group">
        <label asp-for="OS"></label>
        @Html.EditorFor(m => m.OS)
    </div>
        <div class="form-group">
             <label asp-for="Description"></label>
             <input type="text" asp-for="Description" />
         </div>
         <div class="form-group">
             <label asp-for="SupportedMonitors"></label>
             <input type="text" asp-for="SupportedMonitors" />
         </div>
}
