@model Treater
@{
    ViewData["Title"] = "IndexPost";
}

<h2>IndexPost</h2>

<table class="table">
    <thead>
        <tr class="tcol"></tr>
        <tr class="tcol"></tr>
        <tr class="tcol"></tr>
    </thead>
    @for(each treater in model)
                {
                    <tr class="trow">
                        <tc class="tcol">
                            @html.displayfor(m => model.name);
                        </tc>
                        <tc class="tcol">
                            model.favorite;
                        </tc>
                        <tc class="tcol">
                            model.costume
                        </tc>
                    </tr>
                }
</table>