@model CandyM
@{
    ViewData["Title"] = "Index";
}

<h2>Candy</h2>

<form asp-action="Insert" asp-controller="Candy" method="post">
    @Html.AntiForgeryToken()

    <label for="CandyIn">New Candy</label>
    <input type="text" name="CandyIn" id="CandyIn" />
    <button type="submit" class="btn">Submit</button>
</form>

<ul class="list-group">
    @foreach (var candy in Model.CandyList)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    @candy.name
                </div>
                <div class="col-6">
                    <form asp-action="Delete" asp-controller="Candy" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@candy.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>